@import "tailwindcss";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.marquee-track {
  display: inline-flex;
  gap: 6rem;
  white-space: nowrap;
  will-change: transform;
}

.track-left {
  transform: translateX(calc(var(--marquee-shift, 0px) * -1));
}

.track-right {
    transform: translateX(calc(var(--marquee-shift, 0px) - var(--initial-offset, 0px)));
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.fade-left-animation {
  animation: fadeLeft 0.5s ease-out forwards;
}


